# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Local envs
.venv/
env/
venv/

# Data
data/raw/*
!data/raw/README.md

# Reports
reports/*
!reports/figures/
!reports/figures/*.png

# Outputs
*.db
*.sqlite